.registration {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 30px;
  background-color: white;
  border-radius: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px rgb(58 66 75 / 10%), 0 2px 4px rgb(58 66 75 / 20%);

  .header {
    text-align: center;
  }

  .btn {
    background-color: #ffdb4d;
    box-shadow: 0 8px 14px rgb(255 204 0 / 25%);
    outline: none;
    border: none;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 10px;
    margin-left: auto;
    cursor: pointer;

    &:hover {
      background-color: #f6d44b;
    }
  }
}